* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f7f3ea;
    color: #1f1f1f;
}


/* CONTENU */

.contenu {
    width: 100%;
    padding: 30px 35px;
}


/* EN-TÊTE */

.entete {
    display: flex;
    justify-content: space-between;
    align-items: center;

    margin-bottom: 18px;
}

.entete h1 {
    font-size: 25px;
    margin-bottom: 5px;
}

.entete p {
    color: #777;
    font-size: 13px;
}

.actions {
    display: flex;
    align-items: center;
    gap: 15px;
}

.actions button {
    width: 35px;
    height: 35px;

    border: none;
    border-radius: 50%;

    background-color: white;

    font-size: 18px;
}

.profil {
    width: 35px;
    height: 35px;

    border-radius: 50%;

    background-color: #f7b500;

    display: flex;
    justify-content: center;
    align-items: center;
}


/* STATISTIQUES */

.statistiques {
    display: flex;

    gap: 14px;

    margin-bottom: 45px;
}

.carte {
    background-color: white;

    border-radius: 10px;

    padding: 14px;

    height: 72px;

    flex: 1;

    display: flex;
    align-items: center;

    gap: 12px;
}

.icone {
    width: 32px;
    height: 32px;

    border-radius: 50%;

    background-color: #f2f6ee;

    color: #0f7a4b;

    display: flex;
    justify-content: center;
    align-items: center;
}

.carte p {
    color: #0f7a4b;
    font-size: 14px;

    margin-bottom: 5px;
}

.carte h2 {
    color: #0f7a4b;
    font-size: 21px;
}


/* FILTRES */

.filtres {
    background-color: white;

    border-radius: 10px;

    padding: 12px 15px;

    display: flex;
    align-items: center;

    gap: 10px;

    margin-bottom: 15px;
}


/* RECHERCHE */

.recherche {
    height: 38px;

    border: 1px solid #ddd;

    border-radius: 7px;

    display: flex;
    align-items: center;

    padding: 0 10px;

    flex: 1;
}

.recherche span {
    margin-right: 7px;

    font-size: 20px;

    color: #666;
}

.recherche input {
    width: 100%;

    border: none;

    outline: none;

    font-size: 12px;
}


/* SELECT */

.filtres select {
    height: 38px;

    border: 1px solid #ddd;

    border-radius: 7px;

    background-color: white;

    padding: 0 10px;

    font-size: 11px;

    color: #444;

    flex: 0 0 150px;
}


/* BOUTON NOUVELLE DEMANDE */

.bouton-container {
    display: flex;

    justify-content: flex-end;

    margin-bottom: 10px;
}

.nouvelle {
    background-color: #0f7a4b;

    color: white;

    border: none;

    border-radius: 5px;

    padding: 7px 15px;

    font-size: 11px;
}


/* TABLEAU */

.tableau {
    background-color: white;

    border-radius: 10px;

    padding: 20px;

    min-height: 300px;
}

.tableau h2 {
    font-size: 15px;

    margin-bottom: 20px;
}


/* LIGNES DU TABLEAU */

.ligne {
    display: flex;

    align-items: center;

    border-bottom: 1px solid #eee;

    min-height: 40px;
}

.ligne > div {
    padding: 8px 5px;

    font-size: 10px;
}


/*
Chaque colonne prend une largeur
*/

.ligne > div:nth-child(1) {
    flex: 2;
}

.ligne > div:nth-child(2) {
    flex: 1.2;
}

.ligne > div:nth-child(3) {
    flex: 1;
}

.ligne > div:nth-child(4) {
    flex: 0.8;
}

.ligne > div:nth-child(5) {
    flex: 1;
}

.ligne > div:nth-child(6) {
    flex: 0.9;
}

.ligne > div:nth-child(7) {
    flex: 0.8;
}


/* TITRES DU TABLEAU */

.ligne-titre {
    border-bottom: 1px solid #ddd;
}

.ligne-titre div {
    color: #777;

    font-size: 10px;

    font-weight: bold;
}


/* TEXTE */

.ligne strong {
    font-size: 9px;

    color: #333;
}


/* CATEGORIE */

.categorie {
    background-color: #eef7df;

    color: #5d8c2d;

    border-radius: 10px;

    padding: 4px 8px;

    font-size: 8px;
}


/* URGENCE */

.urgence {
    border-radius: 10px;

    padding: 4px 8px;

    font-size: 8px;
}

.elevee {
    background-color: #fff0c7;

    color: #725e1a;
}

.moyenne {
    background-color: #f2f0df;

    color: #6b6647;
}

.faible {
    background-color: #dfeee8;

    color: #398066;
}


/* STATUT */

.statut {
    border-radius: 10px;

    padding: 4px 8px;

    font-size: 8px;
}

.attente {
    background-color: #fff0c7;

    color: #725e1a;
}

.valide {
    background-color: #dcece5;

    color: #287457;
}


/* BOUTON VOIR */

.voir {
    background-color: #0f7a4b;

    color: white;

    border: none;

    border-radius: 5px;

    padding: 5px 20px;

    font-size: 9px;
}